Project_5 Vector Database AI Chatbot.json
{
  "name": "Project 5 - Vector Database / AI Chatbot",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecdfa091-9c71-4b8d-ab5b-583c6d310bcc",
              "name": "topic",
              "value": "openai",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "d0442469-709d-4f30-ad5f-9bf235427069",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "news",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "1aa63088-d6c9-41b6-9d96-8f618d2c8a58",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/news",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "<insert-api-key>"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "openai"
            },
            {
              "name": "tbs",
              "value": "qdr:d"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "d5baca9a-cc8b-4ccc-9829-2912bfc10af2",
      "name": "google searching"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer <insert-api-key>"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.link }}\",\n  \"formats\": [\n    \"markdown\"\n  ],\n  \"waitFor\": 1000\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "id": "eabc45fc-04de-4338-83c3-e9e7c7cc7993",
      "name": "firecrawl scraping",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a12040e-40de-4bcc-a613-5c548aad8ba1",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        0
      ],
      "id": "fa7a0cba-67d9-4ac4-b8ba-57c86d38e0a7",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appRcimSdzB4syDWp",
          "mode": "list",
          "cachedResultName": "YouTube",
          "cachedResultUrl": "https://airtable.com/appRcimSdzB4syDWp"
        },
        "table": {
          "__rl": true,
          "value": "tbluGY4C60WSu6QW8",
          "mode": "list",
          "cachedResultName": "my n8n news",
          "cachedResultUrl": "https://airtable.com/appRcimSdzB4syDWp/tbluGY4C60WSu6QW8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "markdown": "={{ $json.data.markdown }}",
            "title": "={{ $('Split Out').item.json.title }}",
            "url": "={{ $('Split Out').item.json.link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "markdown",
              "displayName": "markdown",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1360,
        -20
      ],
      "id": "6cead8e6-a2ef-43b0-9426-eb415e212c74",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "fNNxpeJ11aBsFjT4",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        220,
        240
      ],
      "id": "1f7defa2-0239-41df-9cb1-cf23aa8d8a6c",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "offQxKPSIGuDlRj8",
          "name": "QdrantApi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1085902d-f646-4d5d-b07f-501a5c37dc1c",
              "name": "fields.markdown",
              "value": "={{ $json.fields.markdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        240
      ],
      "id": "9c07aa9d-57cf-4428-a459-3bf34c3b4147",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        460
      ],
      "id": "4d11af95-0e4a-4584-b1f2-e1d5e5013e28",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "marROkDq8FtIIcmK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        360,
        460
      ],
      "id": "7d09d6fe-2d21-42a9-87b2-aba4275a0d8d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        280,
        620
      ],
      "id": "d466f294-d45d-4045-9f52-dfb585d6b795",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        840,
        260
      ],
      "id": "27fb6378-fb59-4d3f-a135-5f79185c7d72",
      "name": "When chat message received",
      "webhookId": "350d7699-e14b-46f4-8074-f290c2636e37"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1060,
        260
      ],
      "id": "6a18f720-7e3c-4621-9d08-037c38a4ce81",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        960,
        500
      ],
      "id": "26a9d505-396d-442d-85d6-4c4e0ddbbf1e",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "Garn2SGcZTxlBVhx",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "n8n",
        "toolDescription": "=Talk with your data",
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "topK": 6,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        1260,
        520
      ],
      "id": "a23dab7c-0e1e-40da-b727-2331d0cee515",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "offQxKPSIGuDlRj8",
          "name": "QdrantApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1160,
        700
      ],
      "id": "b57f1030-5d20-49d5-a4d1-d4dacf239ab3",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "marROkDq8FtIIcmK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -20,
        0
      ],
      "id": "6f5c194d-b0e3-4ebf-9dd5-629204af5089",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "google searching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "firecrawl scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "google searching": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firecrawl scraping": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f87c008b-0500-4acf-a1a1-c710705ab1d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "109e32fa950741cab379b6d825599a810f59f364361f13a3a9b822a29abb36cd"
  },
  "id": "81CTh5fOwZTCVAU7",
  "tags": []
}