Project_7 X Subflow.json
{
  "name": "Project 7 - X Subflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "e2599af3-477e-42a7-81f6-8f8e1bb30f73",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        260,
        340
      ]
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=**Analyze the following data:**\n\n{{ $json.output }}\n\n**Perform the following chain:**\n1.  **Identify Theme:** What's the core AI trend, problem, or solution discussed here?\n2.  **State Concisely:** Briefly state the theme and how the specific AI news relates to it.\n3.  **Draft Post:** Create a concise X post (under 280 characters) summarizing this connection. Start with the trend/problem (e.g., \"AI tackling [problem]...\") and briefly mention the news. Do not include hashtags.",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        480,
        340
      ],
      "id": "291faffd-3191-41d7-b755-d248ff0b4f14",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        420,
        560
      ],
      "id": "0505500f-b9cb-4739-89dc-c25fe78c90f4",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "Garn2SGcZTxlBVhx",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"platform\": \"X\",\n\t\"post\": \"This is a sample post\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        700,
        560
      ],
      "id": "d56a1f8a-fa40-4776-9598-869454aed58c",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e4ac770d-57ea-4cda-9970-71dc46db6243",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "109e32fa950741cab379b6d825599a810f59f364361f13a3a9b822a29abb36cd"
  },
  "id": "TIfRvw1KKmG45fJn",
  "tags": []
}