Project_7 LinkedIn Subflow.json
{
  "name": "Project 7 - LinkedIn Subflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        260,
        340
      ]
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=**Act As:** An expert AI communicator and analyst, capable of synthesizing complex information for a broad audience.\n\n**Goal:** Analyze the unstructured research data provided below and generate a structured, professional, and educational LinkedIn post summarizing the key AI news or development discussed within it. The post should be suitable for a broad audience (including non-technical professionals, business leaders, students, and the generally curious).\n\n**Input Data (Unstructured Research):**\n\n{{ $json.output }}\n\n**AI Task - Based *only* on the Input Data provided above:**\n\n1.  **Identify:** Determine the central AI news topic, event, or development being discussed in the research.\n2.  **Extract:** Pull out the most important facts, findings, or announcements.\n3.  **Synthesize & Simplify:** Combine the key information into a concise summary. Translate any technical jargon or complex concepts into plain, accessible language suitable for a non-expert audience.\n4.  **Determine Significance:** Identify the most important implication or \"why this matters\" point for a broader audience (e.g., impact on business, society, future trends, daily life).\n5.  **Structure:** Organize the synthesized information into the specified output format below.\n\n**Audience Focus:** Broader LinkedIn Network. Prioritize clarity, relevance, and accessibility over technical depth.\n\n**Tone:** Professional, educational, insightful, objective (reflecting the data), yet engaging.\n\n**Desired Output Structure:**\n\n1.  **Hook:** Create an engaging opening sentence that introduces the core topic identified from the data.\n2.  **Summary:** Provide a brief, clear summary of the key news/development extracted from the data.\n3.  **Significance/Implication:** Explain the most relevant \"why this matters\" aspect identified from the data for a broad audience.\n4.  **Call to Action (Optional but Recommended):** Conclude with a thought-provoking question related to the topic or its implications to encourage engagement (e.g., \"What are your thoughts on this development?\", \"How do you see this impacting [relevant area]?\").\n\n**Desired Length:** Concise, ideally around 150-250 words.\n\n**Constraint:** Do not include any hashtags in the final output.\n\n---\n\n**Now, analyze the Input Data above and generate the LinkedIn post according to these instructions.**",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        480,
        340
      ],
      "id": "0f936b34-7c9f-473e-909e-5a647b77990d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        420,
        560
      ],
      "id": "f52fd898-f21e-45bd-940e-bb414eaede12",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "Garn2SGcZTxlBVhx",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"platform\": \"LinkedIn\",\n\t\"post\": \"This is a sample post\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        700,
        560
      ],
      "id": "22b9d1e0-95b0-4473-91c8-394c434f58ba",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3adc1cf5-ee8a-466e-a1de-e6a229fefc31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "109e32fa950741cab379b6d825599a810f59f364361f13a3a9b822a29abb36cd"
  },
  "id": "3Pm6CL2UKee771Y8",
  "tags": []
}