Project 6 - Receipt Analyzer/Project_6 Receipt Analyzer Backend.json
{
  "name": "Project 6 - Receipt Analyzer Backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1097ad44-d6ff-4641-8901-c592c60fc222",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "7b23281d-f4ee-4795-8a45-11c96616b895",
      "name": "Webhook",
      "webhookId": "1097ad44-d6ff-4641-8901-c592c60fc222"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "What's in this image?\n\nI need it to separate all the things that were bought, the total amount, the place of purchase and how the payment was made.",
        "inputType": "base64",
        "binaryPropertyName": "receipt_image",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "628fa359-7b18-4169-961f-481c8c42f20f",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "marROkDq8FtIIcmK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Here is the content from a receipt:\n\n {{ $json.content }}\n\n{\n\"place_of_purchase\": <place of purchase>,\n\"items_and_price\": list of items and prices,\n\"address\": the address,\n\"method_of_payment\": <method of payment>\n}\n\nkeep the json in this format when output."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        440,
        0
      ],
      "id": "bdfaea95-9b52-4762-b3cc-9d3f0012a99b",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "marROkDq8FtIIcmK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e8c8962-e049-4797-8115-4a20fe3a58a1",
              "name": "message.content",
              "value": "={{ $json.message.content }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        0
      ],
      "id": "ec50191f-4175-4f3c-8f7c-42491c0ef316",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "176db142-fbf7-41af-989c-630b92f052c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "109e32fa950741cab379b6d825599a810f59f364361f13a3a9b822a29abb36cd"
  },
  "id": "CSK2SSxvYizeN1Y9",
  "tags": []
}